body {
    background-color: #FFCBA4
}

.button {
    float: left;
    border: 1px solid grey;
  }

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

iframe {
    height:500px;
    width:500px;
}