body {
    background-color: #FFCBA4
}

.button {
    float: left;
    border: 1px solid grey;
}

.rbutton {
    float: right;
    border: 1px solid grey;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

iframe {
    height:500px;
    width:500px;
}

.parallax {
    background-image: url('./webpage_Img/peaches_parallax.jpg');
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}